<!DOCTYPE html>
<html>
   <head>
      <title>Test Platform</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" type="image/png" href="/test-clipart-12.png">
      <script
         src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
         crossorigin="anonymous"></script>
      <script type="text/javascript" src="/script.js"></script>
   </head>
   <body onload="myFunction5()">
      <hr class="hr">
      <div class="right">
         <p class="test d-table-cell"><a href="/"><img class="img" src="/title-test.png" title="Početna"></a> - Test Platform</p>
         <div class="d-table-cell tar">
            <a type="submit" class="btn btn-light btn-sm letter" id="register"><small>Dobrodošli </small><%= korisnik %></a>
            <a type="submit" class="btn btn-danger btn-sm letter" id="odjava" href="/logout">Odjava</a>
         </div>
      </div>
      <hr class="hr">