<div class="col-md-4 themed-grid-col">
   <div class="row ">
      <div class="col-sm-7 margin">
         <a href="https://damp-reef-55288.herokuapp.com" title="Pogledaj te훾aje valuta, prera훾unaj iz jedne valute u drugu." target="_blank"><button type="submit" name="button" class="btn-block margin1">Te훾ajna lista</button></a>
      </div>
      <div class="col-sm-7 margin">
         <a href="https://travel--assistant.herokuapp.com" title="Saznaj nazive svih zemalja i gradova na Zemlji, zra훾nih luka, aviona, vremenskih zona, valuta, jezika, rezerviraj karte za let avionom..." target="_blank"><button type="submit" name="button" class="btn-block margin1">Travel Assistant</button></a>
      </div>
      <div class="col-sm-7 margin" id="hideTestButton">
         <a href="/probni_test" title="Probni test"><button type="submit" name="button" class="btn-block margin1" onclick="myFunction6()">Probni test</button></a>
      </div>
      <div class="col-sm-7 margin">
         <a href="/day-task" title="Dokaz prisutnosti na satu"><button type="submit" name="button" class="btn-block margin1">Dokaz prisutnosti na satu za dan <%= nowDate %>.</button></a>
      </div>
   </div>
</div>