<%- include("partials/header2"); -%>
<div class="">
   <div class="row mb-3 row1">
      <%- include("partials/menu1"); -%>
      <div class="col-md-8 themed-grid-col data">
         <div class="error">
            <h4>ERROR</h4>
            <h1>Ups! Prošla je ponoć 😭</h1>
            <h1>Vrati se nakon sljedećeg sata fizike </h1>
         </div>
         <script>
            setTimeout(function(){
            history.back();
                  }, 15000)
         </script>
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>